.aside{
    width:15%;
    margin-right: 20px;
    min-height: 400px;
    max-height: 400px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    align-content: center;
    align-items: center;
    border-radius: 10px;

}
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    align-content: center;
}
.item{
    display: flex;
    padding-top:7px ;
    margin-top:6px ;
    padding-bottom: 7px;
    width: 100%;
    border-radius: 3%;
    padding-left: 10%;
}
.item:hover{
    background-color: #f5f7f5; /* Green */

}
