.main{
    display: flex;
    width: 70%;
}
.content{
    margin: 4%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.main_info{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 500px;
}
.wall{
    background-color: #fff;
    width: 500px;
    height: 200px;

}
.wall_top{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.main_photo{

    margin: 20px;
    width: 80%;
    height: 50%;
    display: flex;
}
.photo{
    border-radius: 4%;
    width: 100%;
}
.btn{
    background-color: #f5f7f5;
    width: 80%;
    height: 30px;
    border-radius: 4%;
}